.skos1 {
  margin: 0;
  height: 10vh;
  width: 100%;
  background-color: rgb(242, 242, 242);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
  z-index: 1;
  transform: translateY(-1px);
}
.przedstawienie {
    position: relative;
  width: 100%;
  height: auto;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  padding: 10vh;
  background-color: #f7f7fc;

  transform: translateY(-11vh);
}
.triangle{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #2a50ce;
    z-index: -1;
    width: 50vw;
    height: 50vw;
    transform: rotate(90deg);
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-text{
    width: 90%;
}
.title-text {
  /* font-family: 'Shrikhand', cursive; */
  font-family: 'Racing Sans One', cursive;
  margin: 1vh;
  font-size: 4vh;
}
.subText{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2.5vh;
    display: block;
}
.obraz {
    margin: 0;
    position: relative;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_dane2{
    width: 70%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
@media (max-width: 600px){
    .obraz {
        display: none;
    }
    .przedstawienie{
        padding-left: 0;
        padding-right: 0;
    }
    .title-text {
        margin: 0;
        font-size: 4vh;
      }
      .subText{
          font-family: 'Open Sans', sans-serif;
          color: black;
          font-size: 2.5vh;
      }
      .triangle, .triangle2{
          display: none;
      }
}
.foto {
margin: 4vh 0 1vh 0;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}
.stats{
    width: 90%;
}
.text-stat{
    font-family: 'Racing Sans One', cursive;
    margin: 1vh 0;
    font-size: 4vh;
    display: block;
}
.skos2{
    position: relative;
    padding-bottom: 5vh;
    width: 100%;
    margin: 0;
}
.stats_column{
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.skos3{
    width: 100%;
    padding: 10vh 2vh;
    margin: 0;
    position: relative;
    clip-path: polygon(0 12%, 100% 0, 100% 95%, 0% 100%);
    background-color: #f7f7fc;/*rgb(248, 248, 248);*/
    z-index: 100;
}
@media (max-width: 600px){
    .skos3{
        padding: 10vh 3vh;
        clip-path: polygon(0 4%, 100% 0, 100% 95%, 0% 100%);
    }
}
.triangle2{
    margin: 0;
    position: absolute;
    bottom: -20%;
    right: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #2a50ce;
    z-index: -1;
    width: 40vw;
    height: 40vw;
    transform: rotate(-90deg);
}
.wyszukiwarka{
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wyszukiwarka-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wyszukiwarka img{
    width: 70%;
}
.srednie{
    margin: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.srednie img{
    z-index: 100;
}
.dane{
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px){
    .dane{
        display: none;
    }
}
.booking_logo img{
    width: 20vw;
}
.booking_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
