.skos1 {
  margin: 0;
  height: 10vh;
  width: 100%;
  background-color: rgb(242, 242, 242);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
  z-index: 1;
  transform: translateY(-1px);
}
.przedstawienie {
  position: relative;
  width: 100%;
  height: auto;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  padding: 10vh;
  background-color: #f7f7fc;

  transform: translateY(-11vh);
}

.triangle {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 0;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #2a50ce;
  z-index: -1;
  width: 60vw;
  height: 60vw;
  transform: rotate(90deg);
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.title-text {
  /* font-family: 'Shrikhand', cursive; */
  font-family: "Racing Sans One", cursive;
  margin: 1vh;
  font-size: 4vh;
}
.subText {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 2.5vh;
  display: block;
}
.obraz {
  margin: 0;
  position: relative;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 600px) {
  .obraz {
    display: none;
  }
  .przedstawienie {
    padding-left: 0;
    padding-right: 0;
  }
  .title-text {
    margin: 0;
    font-size: 4vh;
  }
  .subText {
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 2.5vh;
  }
  .triangle,
  .triangle2 {
    display: none;
  }
}
.mainpage_photo {
  margin: 4vh 0 1vh 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.mainpage_photo:hover {
  transform: translateY(-10px);
  box-shadow: 15px 25px 2px 2px rgba(0, 0, 0, 0.5);
}

.stats {
  width: 90%;
}

.text-stat {
  font-family: "Racing Sans One", cursive;
  margin: 1vh 0;
  font-size: 4vh;
  display: block;
}
.skos2 {
  position: relative;
  padding-bottom: 5vh;
  width: 100%;
  margin: 0;
}
.stats_column {
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skos3 {
  width: 100%;
  padding: 10vh 2vh;
  margin: 0;
  position: relative;
  clip-path: polygon(0 12%, 100% 0, 100% 95%, 0% 100%);
  background-color: #f7f7fc; /*rgb(248, 248, 248);*/
  z-index: 100;
}

@media (max-width: 600px) {
  .skos3 {
    padding: 10vh 3vh;
    clip-path: polygon(0 4%, 100% 0, 100% 95%, 0% 100%);
  }
}
.triangle2 {
  margin: 0;
  position: absolute;
  bottom: -20%;
  right: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  background-color: #2a50ce;
  z-index: -1;
  width: 40vw;
  height: 40vw;
  transform: rotate(-90deg);
}
.wyszukiwarka {
  margin: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wyszukiwarka-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wyszukiwarka img {
  width: 70%;
}
.srednie {
  margin: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.srednie img {
  z-index: 100;
}
.dane {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .dane {
    display: none;
  }
}
.booking_logo img {
  width: 20vw;
}
.booking_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .text-search-box {
    margin: 0 1vw;
    position: relative;
    padding: 0 1vh;
    transition: transform .3s ease-in-out;
  }
  .text-search-box::after {
    content: "";
    width: 100%;
    height: 110%;
    background: #f7f7fc;
    position: absolute;
    top: -5%;
    left: 0;
    z-index: -1;
    transition: transform .3s ease-in-out;
  }
  .text-search-box::before {
    content: "";
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: -5%;
    left: 0;
    z-index: -20;
    /* filter: blur(5px); */
    transition: transform .3s ease-in-out;
  }
  .text-search-box:hover::after{
    border: 1px solid rgba(0, 0, 0, 0.26);
  }
  .text-search-box:hover::after, .text-search-box:hover {
    transform: translate(-5px, -5px);
  }
  .text-search-box:hover::before{
    transform: translate(15px, 15px);
  }
  .text-stat-box {
    margin: 0 2vw;
    position: relative;
    transition: transform .3s ease-in-out;
  }
  .text-stat-box::after {
    content: "";
    width: 100%;
    height: 200%;
    background: rgb(211, 211, 211);
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
    transition: transform .3s ease-in-out;
  }
  .text-stat-box::before {
    content: "";
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.26);
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -20;
    transition: transform .3s ease-in-out;
  }
  .text-stat-box:hover::after{
    border: 1px solid rgba(0, 0, 0, 0.26);
  }
  .text-stat-box:hover::after, .text-stat-box:hover {
    transform: translate(-5px, -5px);
  }
  .text-stat-box:hover::before{
    transform: translate(15px, 15px);
  }
  .box-text {
    width: 90%;
    position: relative;
    z-index: 3;
    transition: transform .3s ease-in-out;
  }
  .box-text::after {
    content: "";
    width: 100%;
    height: 152%;
    background: #f7f7fc;  
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
    transition: transform .3s ease-in-out;
  }
  .box-text::before {
    content: "";
    width: 100%;
    height: 150%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -19%;
    left: 0;
    z-index: -20;
    transition: transform .3s ease-in-out;
  }
  .box-text:hover::after{
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .box-text:hover::after, .box-text:hover {
    transform: translate(-5px, -5px);
  }
  .box-text:hover::before{
    transform: translate(15px, 15px);
  }
  .dane2_photo{
    width: 38vw;
    height: auto;
}
}
