.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dotted black;
    font-family: 'Open Sans', sans-serif;
}
.stat_desc{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px dotted black;
    font-family: 'Roboto Slab', serif;
}