.title{
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}
.navbar{
    position: relative;
    background: rgb(242,242,242);
}
.navigation1{
    margin-left: 15%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}

.navigation1, .navigation2{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: grey;
    transition: color .2s ease-in-out;
}
.navigation1:hover, .navigation2:hover{
    text-decoration: none;
    color: rgb(192, 192, 192);
}
@media (min-width: 1000px){
    .navigation2{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
    }
}