.login_form {
  margin-top: 1vh;
  font-family: "Open Sans", sans-serif;
}
.login_link {
  margin-top: 3vh;
}
.login_link,
.login_reset {
  display: block;
  text-decoration: none;
  color: grey;
}
.login_link:hover,
.login_reset:hover {
  text-decoration: none;
  color: rgb(26, 26, 26);
}
.error_login {
  color: red;
  margin-top: 2vh;
  margin-bottom: 0;
}
.login_reset {
  margin-top: 2vh;
}
.login_background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: rgb(235, 234, 234);
  border-radius: 10px;
  padding: 1vh 1vh 2vh 1vh;
  z-index: 1;
  -webkit-box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 600px) {
  .login_background {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 90vw;
  }
}
.login_title {
  font-family: "Shrikhand", cursive;
  font-size: 1.5em;
}
.login_title:hover {
  color: grey;
}
